<h1 style="text-align:center">&nbsp;</h1>
<h1><span style="font-family:Verdana,Geneva,sans-serif">&nbsp;&nbsp;</span><span style="background-color:#f1c40f"><img alt="" src="https://i.imgur.com/8PAUeiO.png" style="float:left; height:64px; width:64px" /></span><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="font-size:48px"><strong><span style="background-color:#3498db">H</span></strong><span style="background-color:#3498db">ome</span><strong><span style="background-color:#2ecc71">s</span></strong><span style="background-color:#2ecc71">hell</span></span></span></h1>
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="font-size:20px"><a href="#download">Download</a>&nbsp; &nbsp;<a href="https://officetable.github.io/hsdocumentation/">Documentation</a>&nbsp; &nbsp;<a href="https://officetable.github.io/hssupportpage/">Support</a></span></span></p>
<hr />
<h1 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><img alt="" src="https://i.imgur.com/kHq6Y70.png" style="float:left; height:407px; width:120px" /><strong>Introducing Homeshell</strong></span></h1>
<h1 style="text-align:right"><strong><span style="font-family:Trebuchet MS,Helvetica,sans-serif">The Program for <span style="background-color:#f1c40f">Productivity</span> and <span style="background-color:#f1c40f">Connectivity</span></span></strong></h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><img alt="" src="https://i.imgur.com/XsnahJT.png" style="height:158px; width:204px" /><img alt="" src="https://i.imgur.com/wBkfJ5l.png" style="border-style:solid; border-width:1px; height:158px; width:188px" /></span></p>
<h1><strong><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="font-size:26px">Be <span style="background-color:#f1c40f">Productive</span>&nbsp;</span></span></strong></h1>
<h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif">With <strong>Officeworks</strong> (Word Processor),</span></h2>
<h3><span style="font-family:Trebuchet MS,Helvetica,sans-serif">- You Can Take Notes for Class or Meetings</span></h3>
<h3><span style="font-family:Trebuchet MS,Helvetica,sans-serif">- You Can Also Create Reports or Papers</span></h3>
<p>&nbsp;</p>
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Note: Only the Word Processor Exists for now, More features are coming soon</span></p>
<p>&nbsp;</p>
<hr />
<p style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><img alt="" src="https://i.imgur.com/tMDnGzh.png" style="border-style:solid; border-width:1px; height:158px; width:140px" /><img alt="" src="https://i.imgur.com/cArK3Lb.png" style="height:158px; width:204px" /></span></p>
<h1 style="text-align:right"><strong><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Get <span style="background-color:#f1c40f">Connected</span></span></strong></h1>
<h2 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">With <strong>Webbox</strong> (Web Browser),</span></h2>
<h3 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>&nbsp;--</strong>&nbsp; You can Research for a Paper or Project</span></h3>
<h3 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>--&nbsp;&nbsp;</strong>You can Look Up Something when you need it</span></h3>
<p>&nbsp;</p>
<hr />
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><img alt="" src="https://i.imgur.com/4ZwItm6.png" style="height:158px; width:204px" /><img alt="" src="https://i.imgur.com/omvmBQd.png" style="border-style:solid; border-width:1px; height:158px; width:234px" /></span></p>
<h1><strong><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Connect to <span style="background-color:#f1c40f">Community</span></span></strong></h1>
<h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif">With <strong>tonline</strong> (Social Network Site),</span></h2>
<h3><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>--</strong>&nbsp; You can Socialize with others with Posts</span></h3>
<h3><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>--</strong>&nbsp; Play Online Arcade Games for the Top Score</span></h3>
<p>&nbsp;</p>
<hr />
<p style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><img alt="" src="https://i.imgur.com/W4XXnDM.png" style="border-style:solid; border-width:1px; height:158px; width:288px" /><img alt="" src="https://i.imgur.com/qgSatiM.png" style="height:158px; width:204px" /></span></p>
<h1 style="text-align:right"><strong><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="background-color:#f1c40f">Expand Functionality</span></span></strong></h1>
<h2 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">With <strong>Homeshell Extension Apps</strong>,</span></h2>
<h3 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>--</strong>&nbsp; You are Safe and Secure from Attackers</span></h3>
<h3 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>--</strong>&nbsp; Will have a Fast Experience on Your Computer</span></h3>
<p>&nbsp;</p>
<hr />
<h1 style="text-align:center"><strong><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Homeshell Will Have its 1st Releace on December 1, 2021</span></strong></h1>
<hr />
<p><a id="download" name="download"></a></p>
<p>&nbsp;</p>
<h1><strong><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Download Homeshell Here</span></strong></h1>
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><a href="https://github.com/OfficeTable/homeshell/raw/main/HomeshellSetup.exe">Download Setup for Windows</a></span></p>
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><a href="https://github.com/OfficeTable/homeshell/releases">Download Previous Version Setup Files</a></span></p>
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><a href="https://github.com/OfficeTable/homeshell/tree/main/source">View Source Files</a></span></p>
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><a href="https://github.com/OfficeTable/homeshell">View Repository on Github</a></span></p>
<p style="text-align:center">&nbsp;</p>
<h2 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">System Requirements</span></h2>
<p style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>Windows 10 or 11</strong></span></p>
<p style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>.NET 5 Core</strong> Installed</span></p>
<p style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>Microsoft Edge</strong> or <strong>Edge Runtime</strong> Installed</span></p>
<p style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">A <strong>Internet Connection</strong> for <strong>Online Features</strong></span></p>
<p>&nbsp;</p>
<hr />
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif">(c) 2021 T1 Software&nbsp;</span></p>
<p><span style="font-family:Trebuchet MS,Helvetica,sans-serif">This Site was <strong>Built using CKEditor 4</strong> and <strong>Hosted using Github Pages</strong></span></p>
<p>&nbsp;</p>
<h1><strong><span style="background-color:#3498db">T</span><span style="background-color:#2ecc71">1</span> S</strong>oftware&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="background-color:#3498db"><strong>H</strong>ome</span><span style="background-color:#2ecc71"><strong>s</strong>hell</span></span></h1>

